// Placeholder to allow customizing styles.

    .post-excerpt {
      margin-top: $spacing-unit / 2;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
        margin: 0;

      p {
        margin-bottom: 0;
      }}